<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>首页</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="/weui/vue.min.js"></script>
    <script src="/weui/axios.min.js"></script>
    <script src="/weui/weui.min.js"></script>
    <link rel="stylesheet" href="/weui/weui.min.css"/>
    <link rel="stylesheet" href="/weui/example.css"/>

</head>

<body>
<div style="background-color: #FFFFFF;min-height: 800px" id="app">
    <div v-if="bool">
        <table style="margin-left:40px;padding-top: 40px ">
            <tr ><td colspan="2" style="text-align: center">填写数据库参数</td></tr>
            <tr><td>数据库名称：</td><td><input style="width: 400px" :value="datasource.database"  type="text"/></td></tr>
            <tr><td>用户名：</td><td><input style="width: 400px" :value="datasource.username" type="text"/></td></tr>
            <tr><td>密码：</td><td><input style="width: 400px" :value="datasource.password" type="text"/></td></tr>
            <tr><td>连接类：</td><td><input style="width: 400px" :value="datasource.driverclass"  type="text"/></td></tr>
            <tr><td>连接地址：</td><td><input style="width: 400px" :value="datasource.url" type="text"/></td></tr>
        </table>
        <div class="uncheck tableOne" style="margin-left:36px;margin-top:20px;" @click="queryTable()">查询</div>
    </div>

    <div  style="margin-left:36px;padding-top:60px;" v-if="bool2">
        <div style="display: flex;flex-flow: row;flex-wrap: wrap">
            <div >className：<input style="width: 100px" type="text" :value="classInfo.className"/></div>
            <div style="margin-left: 25px;">applicationName: <input style="width: 100px"  type="text"  :value="classInfo.applicationName"/></div>
            <div style="margin-left: 25px;">url: <input type="text"  style="width: 100px"  :value="classInfo.url"/></div>
            <div style="margin-left: 25px;">填写根路径: <input style="width: 150px"  type="text" id="file" :value="classInfo.filePath"/></div>
            <div style="margin-left: 5px;"><input style="width: 40px;height:  100%" type="file"/></div>
        </div>
    </div>
    <div style=" margin-left:36px;margin-top:20px;display: flex;flex-flow: row; flex-wrap: wrap;" v-if="bool2">
        <div style="margin-top:32px;">选择主表 : </div>
        <div style="margin-top:32px;"><select v-model="checkedTable">
            <option v-for="(item,index) in table" :value ="item.table_name">{{item.table_name}}</option>
        </select></div>
        <div style="margin-top:32px; margin-left: 20px">选择默认方法：</div>
        <div class="tableOne" @click="queryMethod=!queryMethod" :class="queryMethod?'check':'uncheck'" >单表查询</div>
        <div class="tableOne" @click="insertOneMethod=!insertOneMethod" :class="insertOneMethod?'check':'uncheck'" >单表单个添加</div>
        <div class="tableOne" @click="insertListMethod=!insertListMethod" :class="insertListMethod?'check':'uncheck'" >单表批量添加</div>
        <div class="tableOne" @click="updateConditionMethod=!updateConditionMethod" :class="updateConditionMethod?'check':'uncheck'" >单表按条件修改</div>
        <div class="tableOne" @click="updateKeyMethod=!updateKeyMethod" :class="updateKeyMethod?'check':'uncheck'" >单表按主键修改</div>
        <div class="tableOne" @click="deleteMethod=!deleteMethod" :class="deleteMethod?'check':'uncheck'" >单表删除</div>
        <div v-for="(item,index) in customMethod" v-bind:key="index">
            <div  class="tableOne" @click="customMethod[index].bool=!customMethod[index].bool" :class="item.bool?'check':'uncheck'">{{item.MethodName}}</div>
        </div>
        <div class="tableOne check" @click="addCMethod()" > 添加自定义方法</div>
    </div>
    <div style=" margin-left:36px;margin-top:20px;display: flex;flex-flow: row; flex-wrap: wrap;" v-if="bool3">
        <div style="margin-top: 27px">方法功能：</div>
        <div style="margin-top: 27px"><input v-model="addM.remark" type="text"/></div>
        <div style=" margin-left:36px;margin-top: 27px">方法名称：</div>
        <div style=" margin-top: 27px"><input v-model="addM.MethodName" type="text"/></div>
        <div style=" margin-left:36px;margin-top: 27px">方法类型：</div>
        <div style="margin-top:32px;">
            <select style="height: 30px;margin-top: -6px;width: 80px;text-align: center" v-model="addM.type">
            <option checked="checked" value ="SELECT">查询</option>
            <option value ="INSERT">添加</option>
            <option value ="UPDATE">修改</option>
            <option value ="DELETE">删除</option>
        </select></div>
    </div>
    <div v-if="bool3" style=" margin-top: 27px;margin-left:36px;display: flex;flex-flow: row;flex-wrap: wrap">
        <div>编写sql：</div>

       <div  style=" display: flex;flex-flow: row;flex-wrap: wrap" v-for="(item,index) in sqlList">
           <div v-if="item.condition!=-1">
               <select v-model="item.codition">
                   <option value=""> </option>
                   <option checked="checked" value="join">join</option>
                   <option value="left join">left join</option>
                   <option value="right join">right join</option>
               </select>
           </div>
           <div>
                <select @change="getTable(index)" v-model="item.table">
                 <option v-for="(item,index) in table" :value ="item.table_name">{{item.table_name}}</option>
                </select>
           </div>
           <div><input style="margin-left:4px;margin-right:4px;width: 60px;height: 26px" v-model="item.name" type="text"/></div>
       </div>
    </div>
    <div  v-if="bool3" style=" margin-top: 27px;margin-left:36px;">关联关系</div>
    <div  v-if="bool3" style=" margin-top: 27px;margin-left:36px;">
       <div style="display: flex;flex-flow: row;flex-wrap: wrap" v-for="(item,index) in fieldAndField">
            <select  v-model="item.conditionTableOne">
                <option v-for="(item,index) in sqlList" :value ="item.table_name">{{item.table_name}}</option>
            </select>
            <select  v-model="item.conditionTableTwo">
                <option v-for="(item,index) in sqlList
" :value ="item.table_name">{{item.table_name}}</option>
            </select>
        </div>
    </div>
    <div  v-if="bool3" style=" margin-top: 27px;margin-left:36px;">筛选条件</div>
    <div  v-if="bool3" style=" margin-top: 27px;margin-left:36px;display: flex;flex-flow: row;flex-wrap: wrap">

    </div>
    <div v-if="bool3" @click="addTable()" class="tableOne check">添加表</div>
    <div v-if="bool3" style=" margin-left:36px;margin-top:20px;display: flex;flex-flow: row; flex-wrap: wrap;"> 选择查询数据</div>
    <div v-if="bool3" style="display: flex;flex-flow: row;flex-wrap: wrap">
        <table style="margin-left:40px;margin-top: 40px "  v-for="(item,index) in sqlList">
            <tr><td colspan="3" style=" text-align: center">{{item.name}}</td></tr>
            <tr><td style="text-align: center">表名</td><td colspan="2" style="text-align: center">{{item.table_name}}</td></tr>
            <tr><td style="text-align: center">主键</td><td colspan="2" style="text-align: center">{{item.key}}</td></tr>
            <tr>
                <td><div style="width: 120px;text-align: center">字段名</div></td>
                <td ><div style="width: 120px;text-align: center">类型</div ></td>
                <td ><div style="width: 80px;text-align: center">是否选中</div></td>
            </tr>
            <tr v-for="(item1,index1) in item.field">
                <td style="text-align: center">{{item1.COLUMN_NAME}}</td>
                <td style="text-align: center">{{item1.DATA_TYPE}}</td>
                <td @click="checkField(index,index1)" :class="item1.bool==true?'check':'uncheck'" style="width: 80px;"></td>
            </tr>
        </table>
    </div>

</div>
</body>
<script th:inline="javascript">
    var app = new Vue({
        el: '#app',
        data: {
            fieldAndField:[],

            addM:{},
            sqlList:[],
            customMethod:[],
            queryMethod:true,
            insertOneMethod:true,
            insertListMethod:true,
            tableListMethod:false,
            updateConditionMethod:true,
            updateKeyMethod:true,
            deleteMethod:true,
            bool:true,
            bool1:false,
            bool2:false,
            bool3:false,
            methodType:'',
            id:'',
            table:[],
            checkedTable:'',
            datasource:{
                username:"haishan",
                password:"1234567",
                url:"jdbc:mysql://127.0.0.1:3306/cnoocfive?serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=utf8&autoReconnect=true&useSSL=false",
                database:"cnoocfive",
                driverclass:"com.mysql.cj.jdbc.Driver"
            },
            classInfo:{
                className:'',
                applicationName:'',
                url:'',
                filePath:''
            }
        },
        methods: {
            getTable(index){
                var table =  this.sqlList[index].table
                for(var i = 0;i < this.table.length;i++){
                    if(this.table[i].table_name==table){
                        this.sqlList[index].key = this.table[i].key
                        this.sqlList[index].field = []
                        for(var j = 0;j < this.table[i].field.length;j++){
                            var c ={
                                COLUMN_NAME: this.table[i].field[j].COLUMN_NAME,
                                DATA_TYPE: this.table[i].field[j].DATA_TYPE,
                                bool:false
                            }
                            this.sqlList[index].field.push(c)
                        }
                        break;
                    }
                }
                console.log(this.sqlList)
            },
            addTable(){
               var name = String.fromCharCode(97 + this.sqlList.length)
                var a = {
                    condition:'',
                    table:'',
                    name:name
                }
                this.sqlList.push(a)
            },
            addCMethod(){
                this.bool3=!this.bool3
                var a = {
                    condition: -1,
                    table:'',
                    name:'a'
                }
                this.sqlList.push(a)
            },
            checkField(index,index1){
              this.sqlList[index].field[index1].bool=!this.sqlList[index].field[index1].bool
                this.$set(this.sqlList,index,this.sqlList[index])
            },
            checkTable(){
              this.bool1 = false
              this.bool2 = true
            },
           queryTable(){
               axios.post("/api/class/create/queryTableAndField",this.datasource).then(res=>{
                   this.bool = false
                   this.table=[]
                   for(var i = 0;i < res.data.result.length;i++){
                       var a = res.data.result[i]
                       a.bool = false;
                       this.table.push(a)
                       this.bool2 = true
                   }
               })
           },
        checkOne(index){
            this.table[index].bool = !this.table[index].bool
            this.$set(this.table,index,this.table[index])
        },
        }
    })
</script>
<style>

    table,td{
             /*边框合并*/
         border-collapse: collapse;
           border: 1px solid #000;
        }
    .tableO{
        width: 100%;

    }

    .table-list{
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin-left: 19px;
    }

    .tableOne{
        font-size: 14px;
        padding-top: 10px;
        margin-left: 20px;
        margin-top: 20px;
        text-align: center;
        width: 160px;
        height: 50px;
        padding-left: 6px;
    }

    .uncheck{
        background-color: #eeeeee ;
        color: black;
    }
    .check{
        background-color: #f3e031 ;
        color: #ffffff;

    }
</style>
</html>
